[Desktop Entry]
Name=Proton Calendar
GenericName=Calendar Client
Comment=Secure Calendar
Exec=dotfiles-launch-webapp https://calendar.proton.me
Terminal=false
Type=Application
Categories=Calendar;
Keywords=calendar;
Icon=/usr/share/icons/dotfiles/proton-calendar.png
StartupNotify=false
