[Desktop Entry]
Name=Spotify
GenericName=Music Player
Comment=Music and Podcasts
Exec=dotfiles-launch-webapp https://open.spotify.com/
Terminal=false
Type=Application
Categories=Music;
Keywords=music;podcasts;audio;sound;
Icon=$ICON_PATH
StartupNotify=true