[Desktop Entry]
Name=YouTube
GenericName=Video
Comment=Online Video
Exec=dotfiles-launch-webapp https://youtube.com
Terminal=false
Type=Application
Categories=Video;
Keywords=video;youtube;
Icon=/usr/share/icons/dotfiles/youtube.png
StartupNotify=false
