# The default flameshot installation does not launch Flameshot in GUI mode. This is because
# the default .desktop file does not include the `gui` option in the `Exec` field:
#
# Exec=/usr/bin/flameshot
#
# This custom .desktop file for Flameshot adds the `gui` option to the `Exec` command, so
# that Flameshot is started in GUI mode when launched from the app launcher (Fuzzel):
#
# Exec=/usr/bin/flameshot gui

[Desktop Entry]
Name=Flameshot
GenericName=Screenshot tool
Comment=Powerful yet simple to use screenshot software.
Keywords=flameshot;screenshot;capture;shutter;
Exec=/usr/bin/flameshot gui
Icon=org.flameshot.Flameshot
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false
StartupWMClass=flameshot
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.flameshot.Flameshot
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2