.window {
    background-color: rgba(0,0,0,0.9);
    border-radius: {{ BORDER_RADIUS }}px;
    border: {{ BORDER_WIDTH }}px solid #{{ PRIMARY }};
}

.button {
    min-width: 100px;
    background-color: transparent;
    min-height: 100px;
    border-radius: 0;
}
.button:hover{
    background: #ffffff1c;
}
.button:first-child{
    border-radius: {{ BORDER_RADIUS }}px 0 0 {{ BORDER_RADIUS }}px;
}
.button:last-child{
    border-radius: 0 {{ BORDER_RADIUS }}px {{ BORDER_RADIUS }}px 0;
}

.buttonIcon {
    font-size: 40px;
    background-color: transparent;
    font-weight: 100;
}
.buttonLabel {
    font-weight: 400;
    background-color: transparent;
}


.buttonsBox{
    padding: 5px;
    background-color: transparent;
    border: #74747449 solid 1px;
    border-radius: {{ BORDER_RADIUS }}px;
}
