/*
 * Waybar styles
 */

* {
  font-family: "Hack Nerd Font Mono", monospace;
  font-size: 18px;
  min-height: 0;
  color: #efffc8;
}

window#waybar {
  background: #0c1821;
}

tooltip {
  border: 2px solid #efffc8;
  border-radius: 4px;
  background: #394f49;
}

#workspaces button {
  margin: 8px 3px 8px 3px;
  padding: 0 5px;
  border-radius: 4px;
  background: #394f49;
}

#workspaces button.focused {
  border: 2px solid #efffc8;
}

#wireplumber, #mode, #battery, #clock, #backlight, #network {
  background: #394f49;
  padding: 2px 12px;
  border-radius: 4px;
  margin: 8px 3px 8px 3px;
  border: 2px solid #efffc8;
}
