# This is the configuration file for Ghostty.
#
# Run `ghostty +show-config --default --docs` to view a list of
# all available config options and their default values.
#
# To see a list of available themes, run `ghostty +list-themes`.
#
# To generate a list of valid fonts, run `ghostty +list-fonts`.
#
# Additionally, each config option is also explained in detail
# on Ghostty's website, at https://ghostty.org/docs/config.

# Cursor
cursor-style = bar

# Font Size
font-size = 14

# Font
font-family = {{ FONT }}
font-style-bold = CaskaydiaCove NF Bold
font-style-italic = CaskaydiaCove NF Italic
font-style-bold-italic = CaskaydiaCove NF Bold Italic

# Theme / UI
theme = GitLab Dark Grey
window-padding-x = 6
window-padding-y = 6
