background-color=#282a36
text-color=#44475a
border-color=#282a36
sort=-time
font={{ FONT }} 12
icons=1

[urgency=low]
border-color=#282a36

[urgency=normal]
border-color=#f1fa8c

[urgency=high]
border-color=#ff5555
